{% assign reviews_show = product.metafields.reviews.show_section %}

{% if reviews_show %}
	<div id="product-reviews" class="reviews js-animate animate-fade-in-up" data-offset="100">
		<div class="container">
			<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
		</div>
	</div>
{% endif %}